.test10 .box{overflow:hidden;font-size:12px;margin:5px;width:150px;height:auto; padding:10px;border:1px solid; float: left;}
.test10 .img img{width:150px;}
.test10 .title{font-size: 16px; font-weight: bold;}